<ion-view view-title="Regirster" >
    <div class="bar bar-header bar-light">
  <h1 class="title">bar-light</h1>
</div>
        <ion-content class= " has-header">
           
   <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
       <label class="item item-input">
    <input type="email" placeholder="Email">
  </label>
       <label class="item item-input">
    <input type="password" placeholder="password">
  </label>
       <button class="button button-light">
  submit
</button>
       
       
</div>
        </ion-content>
</ion-view>
